<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
</head>
<body>
<h1>Hello World</h1>
<p class="test">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus architecto harum nesciunt quam quasi, quibusdam saepe. Adipisci aliquid deserunt dignissimos ducimus eligendi illum odio. Dignissimos eveniet incidunt laboriosam maiores quisquam.</p>
<img src="http://placehold.it/620x320/0dfedf" />
<table>
    <tr>
        <th>ID</th>
        <th>First name</th>
        <th>Lastname</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.firstname}"></td>
        <td th:text= "${user.lastname}"></td>
        <td th:text= "${user.address.street}"></td>
        <td th:text= "${user.address.city}"></td>
        <td th:text= "${user.address.state}"></td>

    </tr>
</table>
<!--
<h1>Form</h1>
<form action="#" th:action="@{/user}" th:object="${user}" method="post">
    <p>Id: <input type="text" th:field="*{firstname}" /></p>
    <p>Message: <input type="text" th:field="*{lastname}" /></p>
    <p>Message: <input type="text" th:field="*{address.street}" /></p>
    <p>Message: <input type="text" th:field="*{address.city}" /></p>
    <p>Message: <input type="text" th:field="*{address.state}" /></p>
    <p>Message: <input type="text" th:field="*{address.zip}" /></p>
    <p>Message: <input type="text" th:field="*{lastname}" /></p>
    <p>Message: <input type="text" th:field="*{lastname}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>-->
</body>
</html>